body {
  font-family: "LunchType-Regular", sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.section {
  min-height: 100vh;
  /* enables flexbox (modern layout mode in css) */
  display: flex;
  position: relative;
}

/* a class that does just one thing and can reuse in different places */
.section-pad {
  padding-left: 5vw;
  padding-right: 5vw;
}

.container {
  max-width: 810px;
  /* centres box vertically and horizontally */
  margin: auto;
}

.intro {
  background-image: url(/images/intro.jpg);
  color: #fff;
}

.intro p {
  font-size: 36px;
  line-height: 1.2;
}

.logo {
  display: block;
  text-align: center;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 112px;
}

.logo img {
  width: 100%;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* css animations require keyframes and  then using the animation on a class*/
/* https://css-tricks.com/snippets/css/keyframe-animation-syntax/ */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  50% {
    transform: translate(0);
  }
  100% {
    opacity: 1;
  }
}

.appear {
  /* opacity here is a starting point */
  opacity: 0;
  /* animation name */
  animation-name: fadeIn;
  /* set duration and delay */
  animation-duration: 3s;
  animation-delay: 2s;
  /* make sure end state stays the same i.e. text stays on the page */
  animation-fill-mode: forwards;
}

.marquee {
  position: absolute;
  top: 3vh;
  left: 0;
  width: 100%;
  /* each letter will be 5% of viewport width (vw) */
  font-size: 5vw;
  line-height: 1;
  /* stops long text from causing scroll bars */
  overflow: hidden;
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-3000vw);
  }
}

.marquee span {
  /* this is the shorthand (brief) version of the animation css rule */
  animation: moveLeft 200s infinite;
  /* stops text wrap */
  white-space: nowrap;
  /* span is inline by default so we tell it to be block */
  display: block;
  /* lets us add our animation */
  position: relative;
}

.mix-difference {
  /* takes background color and mixes with font colour - like a invert style effect - there are other ones too */
  mix-blend-mode: difference;
}
